// Using a resource file like this, you can include bitmaps, icons and sounds
// inside EXE.
//
//	Resource name	Resouce Type    Resource FileName
//
	ARROW		CURSOR		arrow.cur
	HAND		CURSOR		hand.cur
	SIZE		CURSOR		size.cur
	DEMO		BITMAP		demo.bmp
	SAVE		BITMAP		save.bmp
	OPEN		BITMAP		open.bmp
	NEW		BITMAP		new.bmp
	SELECT		BITMAP		select.bmp
	ZBUTTON		BITMAP		button.bmp
	XCHECK		BITMAP		xcheck.bmp
	XLIST		BITMAP		xlist.bmp
	XCOMBO		BITMAP		xcombo.bmp
	GRID		BITMAP		grid.bmp
	TIMER		BITMAP		timer.bmp
	TAB		BITMAP		tab.bmp
	SPINNER		BITMAP		spinner.bmp
	IMAGE		BITMAP		image.bmp
	LABEL		BITMAP		label.bmp
	TEXTBOX		BITMAP		textbox.bmp
	EDITBOX		BITMAP		editbox.bmp
	RADIOGROUP	BITMAP		radiogroup.bmp
	SLIDER		BITMAP		slider.bmp
	PROGRESSBAR	BITMAP		progressbar.bmp
	ANIMATEBOX	BITMAP		animatebox.bmp
	PLAYER		BITMAP		player.bmp
	FRAME		BITMAP		frame.bmp
	DATEPICKER	BITMAP		datepicker.bmp
	CHECKBUTTON	BITMAP		checkbutton.bmp
	IMAGECHECKBUTTON BITMAP		Imagecheckbutton.bmp
	IMAGEBUTTON	BITMAP		Imagebutton.bmp
	TREE		BITMAP		tree.bmp
	BROWSE		BITMAP		browse.bmp
	HYPERLINK	BITMAP		hyperlink.bmp
	IPADDRESS	BITMAP		ipaddress.bmp
	MONTHCALENDAR	BITMAP		MonthCalendar.bmp
	RICHEDIT	BITMAP		richedit.bmp
	TLBAR		BITMAP		tlbar.bmp
	STATUSBAR	BITMAP		statusbar.bmp
	XMENU		BITMAP		xmenu.bmp
	CONTEXTMENU	BITMAP		contextmenu.bmp
	TABORDER	BITMAP		taborder.bmp
	DELETE		BITMAP		delete.bmp
	BUILD		BITMAP		build.bmp
	RUN		BITMAP		run.bmp
	DEBUG		BITMAP		debug.bmp
	XCLOSE		BITMAP		xclose.bmp
	NEWFORM		BITMAP		newform.bmp
	NMODULE		BITMAP		nmodule.bmp
	CONTROLUP	BITMAP		controlup.bmp
	CONTROLDOWN	BITMAP		controldown.bmp
	SPLITBOX	BITMAP		splitbox.bmp
	REPORT		BITMAP		report.bmp
	UP		BITMAP		menuup.bmp
	DOWN		BITMAP		menudown.bmp
	LEFT		BITMAP		menuleft.bmp
	RIGHT		BITMAP		menuright.bmp
	NOTIFY		BITMAP		notify.bmp
	DROPDOWN	BITMAP		dropdown.bmp
	ACTIVEX		BITMAP		activex.bmp
	EXIT		BITMAP		exit.bmp
	BUILDERS	BITMAP		builders.bmp
	XHELP		BITMAP		help.bmp
	VIEW		BITMAP		view.bmp
	PREFERENCES	BITMAP		preferences.bmp
	ESPANIOL	BITMAP		espaniol.bmp
	INGLES		BITMAP		ingles.bmp
	MNEW		BITMAP		mnew.bmp
	MOPEN		BITMAP		mopen.bmp
	MXCLOSE		BITMAP		mxclose.bmp
	XSAVE		BITMAP		xsave.bmp
	XEXIT		BITMAP		xexit.bmp
	XDELETE		BITMAP		xdelete.bmp
	XVIEW		BITMAP		xview.bmp
	XRUN		BITMAP		xrun.bmp
	XNEWFORM	BITMAP		xnewform.bmp
	XNMODULE	BITMAP		xnmodule.bmp
	XPREFERENCES	BITMAP		xpreferences.bmp
	XXHELP		BITMAP		xhelp.bmp
	NEWREPORT	BITMAP		newreport.bmp
	addfield	BITMAP		addfield.bmp
	removefield	BITMAP		removefield.bmp
	childwindow	BITMAP		childwindow.bmp
        HMG-UNICODE        BITMAP       HMG-UNICODE.bmp
//        HMG-ANSI           BITMAP       HMG-ANSI.bmp
        HMG-UNICODE_icon   ICON         HMG-UNICODE_icon.ico
//        HMG-ANSI_icon      ICON         HMG-ANSI_icon.ico
